extends ./layout

block content
    .pb-2.mt-2.mb-4.border-bottom
    h3 Test Google ReCaptcha V3

    form(id='captcha-form-id', method='POST').form-group.row.col-md-7
        input(type='hidden', name='_csrf', value=_csrf)
        div !{captchaScript}
        
        button(type="button", id="captcha-button-id").btn.btn-light
            | Am I a robot ? 

    script(src="./js/recaptcha.js")
